[package]
name = "zerostash-files"
description = "Safe and secure backup library"
authors = ["Peter Parkanyi <p@symmetree.dev>"]
repository = "https://github.com/symmetree-labs/zerostash"
license = "MIT/Apache-2.0"
version = "0.5.0"
edition = "2021"
keywords = ["crypto", "api", "security", "filesystem", "backup"]
categories = ["cryptography", "filesystem"]

[dependencies]
infinitree = { version = "0.9.0", features = ["mmap"] }
serde = { version = "1.0.145", features = ["rc"] }
serde_derive = "1.0.145"
tracing = "0.1.37"
clap = { version = "3.2.22", features = ["derive"] }
anyhow = "1.0.65"
thiserror = "1.0.37"

memmap2 = "0.5.7"
glob = "0.3.0"
ignore = "0.4.18"

flume = "0.10.14"
futures = "0.3.24"
tokio = { version = "1.21.2", features = ["fs", "io-util", "rt", "sync"] }
async-scoped = { version = "0.7.0", features = ["use-tokio"] }

itertools = "0.10.5"
seahash = "4.1.0"

libc = "0.2.135"
nix = { version = "0.24.2", default-features = false, features = ["fs"] }

chrono = { version = "0.4.22", default-features = false, features = ["std", "clock"] }

[dev-dependencies]
getrandom = "0.2.7"
tokio = { version = "1.21.2", features = ["rt", "macros", "rt-multi-thread"] }
criterion = "0.3.6"
infinitree = { version = "0.9.0", features = ["test"] }

[[bench]]
name = "bench"
harness = false
path = "benches/bench.rs"
